## Setup

Load libraries

In [1]:
import pandas as pd
from snowai.density import (
    JonasDensity, 
    PistochiDensity, 
    SturmDensity,
    MachineLearningDensity
)

## Let's create sample data

In [3]:
date=["2012-02-06", "2017-04-27", "2007-12-27"]
depth_cm=[30.48, 134.62, 149.86]
elevation_m=[652.272, 2855.976, 2743.200]
snow_class=['Ephemeral', 'Taiga', 'Taiga']


df_ = pd.DataFrame({
    'date': date,
    'depth_cm': depth_cm,
    'elevation_m': elevation_m,
    'snow_class': snow_class
})

df=df_.assign(depth_m = df_['depth_cm'] / 100)

df

         date  depth_cm  elevation_m snow_class  depth_m
0  2012-02-06     30.48      652.272  Ephemeral   0.3048
1  2017-04-27    134.62     2855.976      Taiga   1.3462
2  2007-12-27    149.86     2743.200      Taiga   1.4986